---
import { type CollectionEntry, getCollection, render } from "astro:content";
import ArticleCardLink from "../../../components/ArticleCardLink.astro";
import Layout from "../../../layouts/GeneralLayout.astro";
import { publishedFilter, publishedOrder } from "../../../utils";

export async function getStaticPaths() {
  const series = await getCollection("series", publishedFilter);
  const articles = await getCollection("articles", publishedFilter);
  const seriesWithArticles = new Set(articles.map((p) => p.data.series));
  return series
    .filter((s) => seriesWithArticles.has(s.id))
    .map((item) => ({
      params: { series: item.id },
      props: item,
    }));
}

type Props = CollectionEntry<"series">;
const series = Astro.props;
const items = (
  await getCollection(
    "articles",
    (x) => publishedFilter(x) && x.data.series === series.id,
  )
).sort(publishedOrder);

const { Content } = await render(series);
---

<Layout {...series.data}>
  <div class="prose mx-auto">
    <Content />
  </div>
  <div class="divider"></div>
  <section class="mx-auto grid grid-cols-2 gap-16 bg-base-200 p-4">
    {items.map((item) => <ArticleCardLink {item} />)}
  </section>
</Layout>
