---
import { getCollection } from "astro:content";
import SeriesCardLink from "../../components/SeriesCardLink.astro";
import Layout from "../../layouts/GeneralLayout.astro";
import {
  ALLOW_UNPUBLISHED,
  publishedFilter,
  publishedOrder,
} from "../../utils";

const series = (await getCollection("series", publishedFilter)).sort(
  publishedOrder,
);
const articles = (await getCollection("articles", publishedFilter)).sort(
  publishedOrder,
);

// This count is both a filter for unpublished series and provides series article count
const articlesInSeries = series
  .map((s) => s.id)
  .reduceRight(
    (acc, s) => {
      acc[s] = articles.filter((a) => a.data.series === s).length;
      return acc;
    },
    {} as Record<string, number>,
  );
---

<Layout title="Series">
  <section class="grid grid-cols-1 gap-16">
    {
      series
        .filter((s) => ALLOW_UNPUBLISHED || s.id in articlesInSeries)
        .map((item) => (
          <SeriesCardLink {item} numArticles={articlesInSeries[item.id] ?? 0} />
        ))
    }
  </section>
</Layout>
