---
import Layout from "../layouts/Page.astro";

// TODO the fact this is HTML rather than markdown is annoying
---

<Layout title="FAQ" description="Frequently Asked Questions">
  <article class="prose mx-auto">
    <h4>Tell me about this website</h4>
    <p>
      This site is built using <a href="https://astro.build/">Astro</a>,
      initially using their blog template. It's been styled with <a
        href="https://daisyui.com/">DaisyUI</a
      >, a custom theme inspired by the <a
        href="https://daisyui.com/theme-generator">generator</a
      >.
    </p>
    <p>
      The fonts used are <a href="https://fontsource.org/fonts/oswald">Oswald</a
      > and <a href="https://fontsource.org/fonts/open-sans">Open Sans</a>, both
      licensed under the <a href="https://openfontlicense.org/SIL"
        >SIL Open Font License</a
      >.
    </p>
    <h4>Planning any commercial games?</h4>
    <p>
      Yes, but... there's a lot of space to be explored before taking on that
      challenge.
    </p>
  </article>
</Layout>
