---
import { BLUESKY_URL } from "../consts";
import Layout from "../layouts/MarkdownLayout.astro";

// TODO the fact this is HTML rather than markdown is annoying
// but I'm not sure how many faq there will be
---

<Layout title="FAQ" description="Frequently Asked Questions">
  <h4>What is the Flat Lit plan?</h4>
  <p>
    Focus on shipping - content, games and tools. Flat Lit Studios is a focus
    for that and to helping others in the community.
  </p>
  <h4>Are you planning any commercial games, tools, etc?</h4>
  <p>Yes, but... there's a lot of work to be done before those appear!</p>
  <h4>What is your AI policy?</h4>
  <p>AI is quite decisive in game development .</p>
  <p>
    I'm not using it at the moment - beyond the occasional conversation as a
    sense check or to explore a topic. I don't use it for any game assets, code
    or to write content on this site.
  </p>
  <p>
    I'm not averse to using it in future, but the quality of the output has to
    come first. AI is too often a shortcut to slop, and whilst that doesn't
    needs to be the case, you need to good judgement to avoid that outcome.
  </p>
  <h4>Tell me about this website</h4>
  <p>
    A big shout out and thanks to all the open source technologies which power
    this site.
  </p>
  <p>
    This site is built using <a href="https://astro.build/">Astro</a>, initially
    using their blog template but heavily customised. It's been styled with <a
      href="https://daisyui.com/">DaisyUI</a
    >, a custom theme inspired by the <a
      href="https://daisyui.com/theme-generator">generator</a
    >. The site is hosted on <a href="https://github.com">GitHub Pages</a>.
  </p>
  <p>
    The fonts used are <a href="https://fontsource.org/fonts/oswald">Oswald</a> and
    <a href="https://fontsource.org/fonts/open-sans">Open Sans</a>, both
    licensed under the <a href="https://openfontlicense.org/SIL"
      >SIL Open Font License</a
    >. Font come from <a href="https://lucide.dev/">Lucide</a> and <a
      href="https://simpleicons.org/">Simple Icons</a
    >.
  </p>
  <p>
    The building logo was created in <a href="https://www.blockbench.net"
      >Blockbench</a
    > and rendered inside <a href="https://godotengine.org">Godot</a>.
  </p>
  <p>
    This site uses EU based, privacy friendly <a
      href="https://simpleanalytics.com">Simple Analytics</a
    > so I can see which content visitors are interested in. Neither I nor Simple
    Analytics <a href="https://dashboard.simpleanalytics.com/no-tracking"
      >track users</a
    >.
  </p>
  <p>
    The content of this site is available under <a
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
      >Creative Commons Attribution NonCommercial ShareAlike 4.0 International</a
    >. Please get it touch via <a href={BLUESKY_URL} target="_blank">Bluesky</a> if
    you wish to reuse our content.
  </p>
</Layout>
