---
import HeaderLink from "./HeaderLink.astro";
---

<li>
  <HeaderLink href="/">Home</HeaderLink>
</li>
<li>
  <HeaderLink href="/jams">Game Jams</HeaderLink>
</li>
<li>
  <HeaderLink href="/blog">Blog</HeaderLink>
</li>
<li>
  <HeaderLink href="/faq">FAQ</HeaderLink>
</li>
